
<!-- ******************* The Navbar Area ******************* -->
<div class="wrapper-fluid wrapper-navbar sticky-navbar" id="wrapper-navbar" itemscope itemtype="http://schema.org/WebSite">
    <a class="skip-link screen-reader-text sr-only" href="#content">Skip to content</a>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container" >
            {{ page.header }}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                {{ page.main_navigation }}
                <!-- Your menu goes here -->
                <div class="navbar-icons">
                    {% if logged_in %}
                        <a href="{{ url('<front>') }}user/logout">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            <span class="navbar-icons-text">&nbsp;{{ "Logout"|trans }}</span>
                        </a>
                        <a href="{{ url('<front>') }}user">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            <span class="navbar-icons-text">&nbsp;{{ user.username }}</span>
                        </a>
                    {% else %}
                        <a href="{{ url('<front>') }}user/login">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            <span class="navbar-icons-text">&nbsp;{{ "Login"|trans }}</span>
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- .collapse navbar-collapse -->
        </div>
        <!-- .container -->
    </nav>
    <!-- .site-navigation -->
</div>
